@import "tailwindcss";

.layerOverlaya {
    filter: brightness(0.9) blur(8px);
    box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.4);
    transition: background 2s ease-in-out;
}

.layerOverlayb {
    background-image: url(https://www.transparenttextures.com/patterns/noise.png);
    background-size: 300px 300px;
}

.tittleHero {
    background: linear-gradient(135deg, #391EC4 18%, #4F34D9 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 25px rgba(79, 52, 217, 0.4),
               0 0 45px rgba(57, 30, 196, 0.25);
  font-weight: 700;
}

.login-box , .register-box{
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.login-tittle {
    background: linear-gradient(90deg, #7B61FF 0%, #6E4CFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-card {
    border-radius: 18px;
    box-shadow: 8px 8px 20px rgba(40, 39, 39, 0.3);
}

.dashboard-card:hover {
    box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.3);
    transition: all;
    transition-duration: 300ms;
}