@font-face {
  font-family: 'Titan One';
  src: url(./assets/fonts/Titan_One/TitanOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mouldy Cheese';
  src: url(./assets/fonts//Mouldy_Cheese/Mouldy\ Cheese.ttf) format('truetype');
}

@font-face {
  font-family: 'Gabarito';
  src: url(./assets/fonts/Gabarito/Gabarito-VariableFont_wght.ttf) format('truetype');
}
@import "tailwindcss";


@theme {
  --font-titanOne: 'Titan One', 'sans-serif';
  --font-cheese: 'Mouldy Cheese', 'sans-serif';
  --font-gabarito: 'Gabarito', 'sans-serif';
}
:root {
  font-family: system-ui, Titan One, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/images/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
