@font-face {
  font-family: 'Titan One';
  src: url(./assets/fonts/Titan_One/TitanOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mouldy Cheese';
  src: url(./assets/fonts//Mouldy_Cheese/Mouldy\ Cheese.ttf) format('truetype');
}

@font-face {
  font-family: 'Gabarito';
  src: url(./assets/fonts/Gabarito/Gabarito-VariableFont_wght.ttf) format('truetype');
}

@import "tailwindcss";

@theme {
  --font-titanOne: 'Titan One', 'sans-serif';
  --font-cheese: 'Mouldy Cheese', 'sans-serif';
  --font-gabarito: 'Gabarito', 'sans-serif';
  --color-background: #E5E9F1;
  --color-background-dark: #15213F;
  --color-background-card: #ffffff;
  --color-background-box: #f9fafb;
  --color-background-box-dark: #121130;
  --color-background-card-dark: #1F2D4D;
  --color-text-grey: #6B7280;
  --color-text-grey-dark: #B6AE9F;
  --color-text-black: #37353E;
  --color-text-white: #F9F8F6;
  --color-border-dark: #334155;
  --color-border: #e5e7eb;
}

/* Konfigurasi Dark Mode Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Titan One, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* HAPUS background-image dari sini agar tidak menimpa warna background */
  color-scheme: light; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Konfigurasi browser agar scrollbar ikut gelap */
.dark {
  color-scheme: dark;
}

/* Styling Body Utama */
body {
  /* Default Light: Abu terang */
  @apply bg-gray-100 text-gray-900 transition-colors duration-300 min-h-screen;
}

/* Override Body saat Dark Mode */
.dark body {
  /* Dark Mode: Hitam kebiruan (sesuai kode kamu tadi) atau gray-900 */
  @apply bg-[#15213F] text-white; 
}